flows/home/stcharleswx_backup.json
[
    {
        "id": "2fc325cc029ee140",
        "type": "tab",
        "label": "St. Charles MO WX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7942fa914f9e7a9",
        "type": "inject",
        "z": "2fc325cc029ee140",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "a44e923cdd117d5d",
                "b473806bb2e02e87"
            ]
        ]
    },
    {
        "id": "a44e923cdd117d5d",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "LocalWX_TS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "b473806bb2e02e87",
        "type": "http request",
        "z": "2fc325cc029ee140",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=38.7997&lon=-90.5089&units=imperial&appid=your_id_here",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "dc75600cfa1b9bd6",
                "214cf7d49a5c34cb",
                "b48c95b7152422c2",
                "70a6c8e4c4d61cdd",
                "397a330c78204335",
                "de2235cc0ccd4480",
                "9cdb011de9144de2",
                "1b5e838f9867f7e0",
                "9e3dfee44ebd1bd6"
            ]
        ]
    },
    {
        "id": "dc75600cfa1b9bd6",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "STC_RAW_WX_DATA",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 500,
        "wires": []
    },
    {
        "id": "214cf7d49a5c34cb",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "STC_RAW_WX_TEMP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 460,
        "wires": []
    },
    {
        "id": "855362a2ff191903",
        "type": "ui_gauge",
        "z": "2fc325cc029ee140",
        "name": "Outside Temperature ",
        "group": "6353d2ec29a336a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor Temperature",
        "label": "F",
        "format": "{{value|number:1}}",
        "min": "-30",
        "max": "130",
        "colors": [
            "#97efff",
            "#33c759",
            "#ca3838"
        ],
        "seg1": "69",
        "seg2": "79",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 40,
        "wires": []
    },
    {
        "id": "b48c95b7152422c2",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "656df95fee8aa75c",
                "855362a2ff191903",
                "73929746a1d1f6bc"
            ]
        ]
    },
    {
        "id": "656df95fee8aa75c",
        "type": "ui_chart",
        "z": "2fc325cc029ee140",
        "name": "",
        "group": "6353d2ec29a336a7",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "70a6c8e4c4d61cdd",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.humidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 160,
        "wires": [
            [
                "0187d0473fa4f58a",
                "cacceaa758efe5c7"
            ]
        ]
    },
    {
        "id": "cacceaa758efe5c7",
        "type": "ui_chart",
        "z": "2fc325cc029ee140",
        "name": "",
        "group": "6353d2ec29a336a7",
        "order": 6,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "0187d0473fa4f58a",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity: ",
        "format": "{{msg.payload|number:1}} %",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 160,
        "wires": []
    },
    {
        "id": "37b85f9131f2adb5",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 8,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{msg.payload}} hPa",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 280,
        "wires": []
    },
    {
        "id": "dc62137f5f349044",
        "type": "ui_chart",
        "z": "2fc325cc029ee140",
        "name": "Pressure History",
        "group": "6353d2ec29a336a7",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 760,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "397a330c78204335",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.pressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 200,
        "wires": [
            [
                "37b85f9131f2adb5",
                "dc62137f5f349044",
                "69f70797cd6be852"
            ]
        ]
    },
    {
        "id": "de2235cc0ccd4480",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.weather[0].description",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 240,
        "wires": [
            [
                "40d69b685f691e70"
            ]
        ]
    },
    {
        "id": "40d69b685f691e70",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Conditions: ",
        "format": "{{msg.payload}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 400,
        "wires": []
    },
    {
        "id": "b16a94765118737b",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 13,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Direction: ",
        "format": "{{msg.payload}} &deg",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 760,
        "y": 480,
        "wires": []
    },
    {
        "id": "2b41a70e87afd4a6",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Wind Speed: ",
        "format": "{{msg.payload}} MPH",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 440,
        "wires": []
    },
    {
        "id": "94b27aaab15123ab",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Feels Like: ",
        "format": "{{msg.payload|number:1}} &deg F",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 750,
        "y": 120,
        "wires": []
    },
    {
        "id": "9cdb011de9144de2",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.speed",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 280,
        "wires": [
            [
                "2b41a70e87afd4a6"
            ]
        ]
    },
    {
        "id": "1b5e838f9867f7e0",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.wind.deg",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 320,
        "wires": [
            [
                "b16a94765118737b"
            ]
        ]
    },
    {
        "id": "9e3dfee44ebd1bd6",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.feels_like",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 120,
        "wires": [
            [
                "94b27aaab15123ab"
            ]
        ]
    },
    {
        "id": "69f70797cd6be852",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 9,
        "width": "3",
        "height": "2",
        "name": "",
        "label": "",
        "format": "{{value * .0295| number:1}} inHg",
        "layout": "row-right",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 730,
        "y": 320,
        "wires": []
    },
    {
        "id": "14ba846bd6a65f24",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 7,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "Barometric Pressure:",
        "format": "{{value}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 780,
        "y": 240,
        "wires": []
    },
    {
        "id": "73929746a1d1f6bc",
        "type": "ui_text",
        "z": "2fc325cc029ee140",
        "group": "6353d2ec29a336a7",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "Temp in C",
        "label": "",
        "format": "{{(msg.payload - 32)*5/9 | number:1}} C",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 740,
        "y": 20,
        "wires": []
    },
    {
        "id": "6353d2ec29a336a7",
        "type": "ui_group",
        "name": "St. Charles Weather",
        "tab": "d08e06b5cdc29e38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d08e06b5cdc29e38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
