flows/home/stcharleswx_backup.json
[
    {
        "id": "2fc325cc029ee140",
        "type": "tab",
        "label": "St. Charles MO WX",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b7942fa914f9e7a9",
        "type": "inject",
        "z": "2fc325cc029ee140",
        "name": "Trigger",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "300",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 100,
        "y": 80,
        "wires": [
            [
                "a44e923cdd117d5d",
                "b473806bb2e02e87"
            ]
        ]
    },
    {
        "id": "a44e923cdd117d5d",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "LocalWX_TS",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 250,
        "y": 160,
        "wires": []
    },
    {
        "id": "b473806bb2e02e87",
        "type": "http request",
        "z": "2fc325cc029ee140",
        "name": "",
        "method": "GET",
        "ret": "obj",
        "paytoqs": "ignore",
        "url": "https://api.openweathermap.org/data/2.5/weather?lat=38.7997&lon=-90.5089&units=imperial&appid=Your_App_ID_Goes_Here",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 270,
        "y": 80,
        "wires": [
            [
                "dc75600cfa1b9bd6",
                "214cf7d49a5c34cb",
                "b48c95b7152422c2"
            ]
        ]
    },
    {
        "id": "dc75600cfa1b9bd6",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "STC_RAW_WX_DATA",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 240,
        "wires": []
    },
    {
        "id": "214cf7d49a5c34cb",
        "type": "debug",
        "z": "2fc325cc029ee140",
        "name": "STC_RAW_WX_TEMP",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload.main.temp",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 500,
        "y": 180,
        "wires": []
    },
    {
        "id": "855362a2ff191903",
        "type": "ui_gauge",
        "z": "2fc325cc029ee140",
        "name": "Outside Temperature ",
        "group": "6353d2ec29a336a7",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "Outdoor Temperature",
        "label": "units",
        "format": "{{value}}",
        "min": "-30",
        "max": "130",
        "colors": [
            "#97efff",
            "#33c759",
            "#ca3838"
        ],
        "seg1": "69",
        "seg2": "79",
        "diff": false,
        "className": "",
        "x": 780,
        "y": 80,
        "wires": []
    },
    {
        "id": "b48c95b7152422c2",
        "type": "change",
        "z": "2fc325cc029ee140",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.main.temp",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 480,
        "y": 80,
        "wires": [
            [
                "656df95fee8aa75c",
                "855362a2ff191903"
            ]
        ]
    },
    {
        "id": "656df95fee8aa75c",
        "type": "ui_chart",
        "z": "2fc325cc029ee140",
        "name": "",
        "group": "6353d2ec29a336a7",
        "order": 2,
        "width": 0,
        "height": 0,
        "label": "History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "6353d2ec29a336a7",
        "type": "ui_group",
        "name": "Outdoor Temperature",
        "tab": "d08e06b5cdc29e38",
        "order": 3,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "d08e06b5cdc29e38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "Garage Doors",
        "disabled": false,
        "hidden": false
    }
]
