flows/home/WLED.json
[
    {
        "id": "abe7718d682c2675",
        "type": "tab",
        "label": "WLED Test",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "754361729b1074d9",
        "type": "wled",
        "z": "abe7718d682c2675",
        "name": "WORKBENCH",
        "address": "192.168.1.248",
        "interval": 0,
        "x": 480,
        "y": 100,
        "wires": []
    },
    {
        "id": "f282793fe0d84309",
        "type": "ui_switch",
        "z": "abe7718d682c2675",
        "name": "",
        "label": "WorkBench Light",
        "tooltip": "",
        "group": "f57646e009934699",
        "order": 3,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-power-off",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-power-off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 270,
        "y": 100,
        "wires": [
            [
                "754361729b1074d9"
            ]
        ]
    },
    {
        "id": "53850c52d5d0c475",
        "type": "inject",
        "z": "abe7718d682c2675",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 40,
        "wires": [
            [
                "f282793fe0d84309"
            ]
        ]
    },
    {
        "id": "bf7725419935e497",
        "type": "ui_switch",
        "z": "abe7718d682c2675",
        "name": "",
        "label": "Desk Light",
        "tooltip": "",
        "group": "f57646e009934699",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "fa-power-off",
        "oncolor": "green",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "fa-power-off",
        "offcolor": "grey",
        "animate": true,
        "className": "",
        "x": 250,
        "y": 260,
        "wires": [
            [
                "82a52e79414c9f53"
            ]
        ]
    },
    {
        "id": "c1a05d30b88657b8",
        "type": "inject",
        "z": "abe7718d682c2675",
        "name": "Test",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 200,
        "wires": [
            [
                "bf7725419935e497"
            ]
        ]
    },
    {
        "id": "82a52e79414c9f53",
        "type": "wled",
        "z": "abe7718d682c2675",
        "name": "SHACKDESK",
        "address": "192.168.1.247",
        "interval": 0,
        "x": 480,
        "y": 260,
        "wires": []
    },
    {
        "id": "f57646e009934699",
        "type": "ui_group",
        "name": "Shack Lights",
        "tab": "2f150eb340621efc",
        "order": 5,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
