flows/meshtastic/antennaswitchsensor.json
[
    {
        "id": "43968943062dcd8d",
        "type": "tab",
        "label": "Antenna Switch Sensor",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "9b3ebfdd2a472660",
        "type": "switch",
        "z": "43968943062dcd8d",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.environmentMetrics",
                "vt": "msg"
            },
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.deviceMetrics",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 330,
        "y": 320,
        "wires": [
            [
                "649e49f4e0719f79",
                "df4dd73fcc5aebb9",
                "55cee0aeabfbe161",
                "fc2568b7886fd0b1",
                "78f1e04c504faa87",
                "780f558ee5ef95ac"
            ],
            [
                "17ce20ef1cea7347",
                "ddb4185709cc2407",
                "ba14dc9cf023cb2f"
            ],
            []
        ]
    },
    {
        "id": "17ce20ef1cea7347",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580.52490234375,
        "y": 320,
        "wires": [
            [
                "119336d1af594a9f",
                "c6fba64ff8c79df0"
            ]
        ]
    },
    {
        "id": "ddb4185709cc2407",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.batteryLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 580.52490234375,
        "y": 440,
        "wires": [
            [
                "11f34521cd67bbb2"
            ]
        ]
    },
    {
        "id": "780f558ee5ef95ac",
        "type": "debug",
        "z": "43968943062dcd8d",
        "name": "SOA1 Env",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570.52490234375,
        "y": 200,
        "wires": []
    },
    {
        "id": "ba14dc9cf023cb2f",
        "type": "debug",
        "z": "43968943062dcd8d",
        "name": "SOA1 Device",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 570.52490234375,
        "y": 360,
        "wires": []
    },
    {
        "id": "c6fba64ff8c79df0",
        "type": "ui_gauge",
        "z": "43968943062dcd8d",
        "name": "",
        "group": "c64dfde351e348df",
        "order": 14,
        "width": "3",
        "height": "3",
        "gtype": "gage",
        "title": "Sensor Battery Voltage",
        "label": "VDC",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "5.5",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "3.3",
        "seg2": "3.6",
        "diff": false,
        "className": "",
        "x": 840.52490234375,
        "y": 320,
        "wires": []
    },
    {
        "id": "119336d1af594a9f",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "name": "",
        "group": "c64dfde351e348df",
        "order": 16,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 740.52490234375,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "11f34521cd67bbb2",
        "type": "ui_gauge",
        "z": "43968943062dcd8d",
        "name": "Battery Level",
        "group": "c64dfde351e348df",
        "order": 15,
        "width": "3",
        "height": "3",
        "gtype": "donut",
        "title": "Sensor Battery Level",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "105",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 780.52490234375,
        "y": 440,
        "wires": []
    },
    {
        "id": "a0ab63fd108fef96",
        "type": "function",
        "z": "43968943062dcd8d",
        "name": "C2F",
        "func": "{\n    var val = msg.payload;\n    var f = (val * 1.8) + 32;\n\n    msg.payload = parseFloat(f).toFixed(1)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010.52490234375,
        "y": 60,
        "wires": [
            [
                "667fdb74b858148d",
                "789a972e5948e45d"
            ]
        ]
    },
    {
        "id": "649e49f4e0719f79",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010.52490234375,
        "y": 100,
        "wires": [
            [
                "a0ab63fd108fef96",
                "aa193d0868d34de7"
            ]
        ]
    },
    {
        "id": "df4dd73fcc5aebb9",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.relativeHumidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010.52490234375,
        "y": 140,
        "wires": [
            [
                "56f634c0fb1241c9",
                "81644dad19e147bd"
            ]
        ]
    },
    {
        "id": "55cee0aeabfbe161",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.barometricPressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010.52490234375,
        "y": 180,
        "wires": [
            [
                "d967217ac9ea199a",
                "7b2198498cb72654",
                "875435a53384b6cd"
            ]
        ]
    },
    {
        "id": "fc2568b7886fd0b1",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010.52490234375,
        "y": 220,
        "wires": [
            [
                "8945a9e65e6e6346",
                "ed93352de5aa072c",
                "cdf6011896d096a8"
            ]
        ]
    },
    {
        "id": "78f1e04c504faa87",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.current",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1010.52490234375,
        "y": 260,
        "wires": [
            [
                "eee1e13b9b2cbaf3",
                "6bee70bba3d6edec"
            ]
        ]
    },
    {
        "id": "789a972e5948e45d",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "name": "Temp. History",
        "group": "c64dfde351e348df",
        "order": 8,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "24",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 20,
        "wires": [
            []
        ]
    },
    {
        "id": "667fdb74b858148d",
        "type": "ui_gauge",
        "z": "43968943062dcd8d",
        "name": "",
        "group": "c64dfde351e348df",
        "order": 6,
        "width": "0",
        "height": "0",
        "gtype": "gage",
        "title": "Enclosure Temperature",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "-30",
        "max": "150",
        "colors": [
            "#93e3fd",
            "#64c466",
            "#eb4d3d"
        ],
        "seg1": "65",
        "seg2": "81",
        "diff": false,
        "className": "",
        "x": 1270,
        "y": 100,
        "wires": []
    },
    {
        "id": "81644dad19e147bd",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "name": "Humidity History",
        "group": "c64dfde351e348df",
        "order": 10,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1250,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "56f634c0fb1241c9",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "group": "c64dfde351e348df",
        "order": 9,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Humidity",
        "format": "{{value | number:1}}%",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 180,
        "wires": []
    },
    {
        "id": "7b2198498cb72654",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "d": true,
        "group": "c64dfde351e348df",
        "order": 11,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Barometric Pressure",
        "format": "{{value | number:1}} hPa",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 220,
        "wires": []
    },
    {
        "id": "875435a53384b6cd",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "d": true,
        "group": "c64dfde351e348df",
        "order": 12,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Barometric Pressure",
        "format": "{{value * .0295| number:1}} inHg",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1260,
        "y": 260,
        "wires": []
    },
    {
        "id": "d967217ac9ea199a",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "d": true,
        "name": "Pressure History",
        "group": "c64dfde351e348df",
        "order": 13,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 300,
        "wires": [
            []
        ]
    },
    {
        "id": "8945a9e65e6e6346",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "group": "c64dfde351e348df",
        "order": 2,
        "width": "0",
        "height": "0",
        "name": "",
        "label": "Battery Voltage",
        "format": "{{value | number:1}} VDC",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 340,
        "wires": []
    },
    {
        "id": "ed93352de5aa072c",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "name": "",
        "group": "c64dfde351e348df",
        "order": 3,
        "width": 0,
        "height": 0,
        "label": "Battery Volts",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1230,
        "y": 380,
        "wires": [
            []
        ]
    },
    {
        "id": "eee1e13b9b2cbaf3",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "group": "c64dfde351e348df",
        "order": 4,
        "width": "0",
        "height": "0",
        "name": "Battery Current",
        "label": "Battery Current: ",
        "format": "{{value | number:1}} mA",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1240,
        "y": 420,
        "wires": []
    },
    {
        "id": "6bee70bba3d6edec",
        "type": "ui_chart",
        "z": "43968943062dcd8d",
        "name": "Battery Amps",
        "group": "c64dfde351e348df",
        "order": 5,
        "width": 0,
        "height": 0,
        "label": "",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1240,
        "y": 460,
        "wires": [
            []
        ]
    },
    {
        "id": "7ad879b5ed537972",
        "type": "link in",
        "z": "43968943062dcd8d",
        "name": "Antenna Sw In",
        "links": [
            "bbad3d33b62b70ad"
        ],
        "x": 225,
        "y": 320,
        "wires": [
            [
                "9b3ebfdd2a472660"
            ]
        ]
    },
    {
        "id": "aa193d0868d34de7",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "group": "c64dfde351e348df",
        "order": 7,
        "width": "0",
        "height": "0",
        "name": "Temp in C",
        "label": "",
        "format": "{{msg.payload | number:1}} &degC",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1220,
        "y": 60,
        "wires": []
    },
    {
        "id": "cdf6011896d096a8",
        "type": "switch",
        "z": "43968943062dcd8d",
        "name": "Low Voltage Detection",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "lte",
                "v": "12.5",
                "vt": "num"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1040,
        "y": 540,
        "wires": [
            [
                "45ee2ff99df36c59"
            ],
            [
                "f82f4f52e785966b"
            ]
        ]
    },
    {
        "id": "45ee2ff99df36c59",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "Low Voltage Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "SOA1 battery voltage <= 12.5 VDC. Change battery soon!",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "channel",
                "pt": "msg",
                "to": "2",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1270,
        "y": 540,
        "wires": [
            [
                "cc58ae81ad2ea53c",
                "6e500412e55fde3a"
            ]
        ]
    },
    {
        "id": "cc58ae81ad2ea53c",
        "type": "meshtastic-msg-send",
        "z": "43968943062dcd8d",
        "name": "Low Voltage Alert",
        "device": "907a3fd0216dbb85",
        "x": 1510,
        "y": 540,
        "wires": []
    },
    {
        "id": "6e500412e55fde3a",
        "type": "ui_text",
        "z": "43968943062dcd8d",
        "group": "c64dfde351e348df",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "Low Voltage Warning",
        "label": "",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1520,
        "y": 580,
        "wires": []
    },
    {
        "id": "d1014925eb335a40",
        "type": "inject",
        "z": "43968943062dcd8d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "12.5",
        "payloadType": "num",
        "x": 810,
        "y": 620,
        "wires": [
            [
                "cdf6011896d096a8"
            ]
        ]
    },
    {
        "id": "f82f4f52e785966b",
        "type": "change",
        "z": "43968943062dcd8d",
        "name": "Clear Low Voltage Alert",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1250,
        "y": 580,
        "wires": [
            [
                "6e500412e55fde3a"
            ]
        ]
    },
    {
        "id": "c64dfde351e348df",
        "type": "ui_group",
        "name": "Antenna Switch SOA1",
        "tab": "2f150eb340621efc",
        "order": 7,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "907a3fd0216dbb85",
        "type": "meshtastic-msg-device",
        "fetch_interval": "2000",
        "tls": "false",
        "ip_address": "meshtastic.local"
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    }
]
