flows/meshtastic/meshsensors.json
[
    {
        "id": "644a0e6589af788c",
        "type": "tab",
        "label": "Mesh Sensors ",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "79dfc4a25ea82839",
        "type": "switch",
        "z": "644a0e6589af788c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.environmentMetrics",
                "vt": "msg"
            },
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.deviceMetrics",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 710,
        "y": 940,
        "wires": [
            [],
            [
                "5ebbbeb1f201818f",
                "902bbc064712d489"
            ],
            []
        ]
    },
    {
        "id": "5ebbbeb1f201818f",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 940,
        "wires": [
            [
                "05a10a1ef936c2fc",
                "a5cd0cc60fdc8cfb",
                "72c728e1326c9194"
            ]
        ]
    },
    {
        "id": "902bbc064712d489",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.batteryLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1020,
        "wires": [
            [
                "4e28f65ef6808289"
            ]
        ]
    },
    {
        "id": "4e28f65ef6808289",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "Battery Level",
        "group": "4094c8229ec62653",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Battery Level",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "105",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1090,
        "y": 1020,
        "wires": []
    },
    {
        "id": "05a10a1ef936c2fc",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Battery History",
        "group": "4094c8229ec62653",
        "order": 3,
        "width": 8,
        "height": 4,
        "label": "",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1100,
        "y": 972.6666259765625,
        "wires": [
            []
        ]
    },
    {
        "id": "a5cd0cc60fdc8cfb",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "",
        "group": "4094c8229ec62653",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "VDC",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "5.5",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "3.3",
        "seg2": "3.6",
        "diff": false,
        "className": "",
        "x": 1100,
        "y": 940,
        "wires": []
    },
    {
        "id": "fd478b2d81fc2c12",
        "type": "comment",
        "z": "644a0e6589af788c",
        "name": "WishMesh Pocket SO01",
        "info": "",
        "x": 990,
        "y": 860,
        "wires": []
    },
    {
        "id": "4a0fe03dccf68784",
        "type": "link in",
        "z": "644a0e6589af788c",
        "name": "Sensor SO01 Data",
        "links": [
            "5d444a7a7fa7b952"
        ],
        "x": 575,
        "y": 940,
        "wires": [
            [
                "79dfc4a25ea82839",
                "7047423b5c4c100e"
            ]
        ]
    },
    {
        "id": "7047423b5c4c100e",
        "type": "debug",
        "z": "644a0e6589af788c",
        "name": "SO01 Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 750,
        "y": 880,
        "wires": []
    },
    {
        "id": "504d582b6f9bc1ad",
        "type": "switch",
        "z": "644a0e6589af788c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.environmentMetrics",
                "vt": "msg"
            },
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.deviceMetrics",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 694,
        "y": 1199,
        "wires": [
            [
                "b0ac9ccdcbeb73a7",
                "50eb81fc54b6515d",
                "16e9113c387c4e73",
                "1e295c9a4b695e57"
            ],
            [
                "c4531e6b2e4b55be",
                "428318c430355cf2"
            ],
            []
        ]
    },
    {
        "id": "32d12a832e227111",
        "type": "link in",
        "z": "644a0e6589af788c",
        "name": "Sensor SOWX Data",
        "links": [
            "48cb62492d81c98b"
        ],
        "x": 574,
        "y": 1199,
        "wires": [
            [
                "504d582b6f9bc1ad",
                "5ac3e19fdb8a1f8b"
            ]
        ]
    },
    {
        "id": "c4531e6b2e4b55be",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1600,
        "wires": [
            [
                "7f550ba3e8321487",
                "38eb73e373e8c33f"
            ]
        ]
    },
    {
        "id": "428318c430355cf2",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.batteryLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1640,
        "wires": [
            [
                "7c28a401e3510e54"
            ]
        ]
    },
    {
        "id": "5ac3e19fdb8a1f8b",
        "type": "debug",
        "z": "644a0e6589af788c",
        "name": "SOWX Data",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 754,
        "y": 1139,
        "wires": []
    },
    {
        "id": "7f550ba3e8321487",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Battery History",
        "group": "3db16ff2d329e118",
        "order": 25,
        "width": 9,
        "height": 5,
        "label": "Sensor Battery Voltage History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 1640,
        "wires": [
            []
        ]
    },
    {
        "id": "38eb73e373e8c33f",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "",
        "group": "3db16ff2d329e118",
        "order": 23,
        "width": 3,
        "height": 2,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "VDC",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "5.5",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "3.3",
        "seg2": "3.6",
        "diff": false,
        "className": "",
        "x": 1340,
        "y": 1600,
        "wires": []
    },
    {
        "id": "7c28a401e3510e54",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "Battery Level",
        "group": "3db16ff2d329e118",
        "order": 24,
        "width": 2,
        "height": 3,
        "gtype": "donut",
        "title": "Battery Level",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "105",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1680,
        "wires": []
    },
    {
        "id": "e3792ebce537a054",
        "type": "comment",
        "z": "644a0e6589af788c",
        "name": "Node SOWX",
        "info": "",
        "x": 990,
        "y": 1120,
        "wires": []
    },
    {
        "id": "f9169936b2314298",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Temp. History",
        "group": "3db16ff2d329e118",
        "order": 2,
        "width": 9,
        "height": 5,
        "label": "Temperature History (F)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 1140,
        "wires": [
            []
        ]
    },
    {
        "id": "1d878e458b03d035",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "",
        "group": "3db16ff2d329e118",
        "order": 1,
        "width": 5,
        "height": 3,
        "gtype": "gage",
        "title": "Temperature",
        "label": "F",
        "format": "{{value | number:1}}",
        "min": "-20",
        "max": "120",
        "colors": [
            "#93e3fd",
            "#64c466",
            "#eb4d3d"
        ],
        "seg1": "65",
        "seg2": "81",
        "diff": false,
        "className": "",
        "x": 1330,
        "y": 1180,
        "wires": []
    },
    {
        "id": "94fa0d64f5299c9f",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "3db16ff2d329e118",
        "order": 5,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{value | number:1}}%",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1320,
        "y": 1220,
        "wires": []
    },
    {
        "id": "3d954179da3a9345",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Humidity History",
        "group": "3db16ff2d329e118",
        "order": 6,
        "width": 9,
        "height": 5,
        "label": "Humidity History (%)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "100",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1350,
        "y": 1260,
        "wires": [
            []
        ]
    },
    {
        "id": "5e9181b6226cd5d8",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "3db16ff2d329e118",
        "order": 14,
        "width": 4,
        "height": 1,
        "name": "hPa Pressure",
        "label": "",
        "format": "{{value | number:1}} hPa",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 1300,
        "wires": []
    },
    {
        "id": "dbff22b476fcf5df",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "3db16ff2d329e118",
        "order": 11,
        "width": 4,
        "height": 1,
        "name": "",
        "label": "Barometric Pressure",
        "format": "{{value * .0295| number:1}} inHg",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1360,
        "y": 1340,
        "wires": []
    },
    {
        "id": "f17f921a883485ff",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "3db16ff2d329e118",
        "order": 18,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Gas Resistance (Air Quality):",
        "format": "{{value | number:1}} Ohms",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1383,
        "y": 1419,
        "wires": []
    },
    {
        "id": "7e4e652ba1fdae6c",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Gas Res History",
        "group": "3db16ff2d329e118",
        "order": 19,
        "width": 9,
        "height": 4,
        "label": "Gas Resistance History",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 1460,
        "wires": [
            []
        ]
    },
    {
        "id": "1e295c9a4b695e57",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.gasResistance",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1300,
        "wires": [
            [
                "f17f921a883485ff",
                "7e4e652ba1fdae6c"
            ]
        ]
    },
    {
        "id": "16e9113c387c4e73",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.barometricPressure",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1260,
        "wires": [
            [
                "5e9181b6226cd5d8",
                "dbff22b476fcf5df",
                "5181b4451eafe568"
            ]
        ]
    },
    {
        "id": "50eb81fc54b6515d",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.relativeHumidity",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1220,
        "wires": [
            [
                "94fa0d64f5299c9f",
                "3d954179da3a9345"
            ]
        ]
    },
    {
        "id": "b0ac9ccdcbeb73a7",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.environmentMetrics.temperature",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 880,
        "y": 1180,
        "wires": [
            [
                "75c57ba29f0aa4e6",
                "58ad1a2d32a117d8"
            ]
        ]
    },
    {
        "id": "75c57ba29f0aa4e6",
        "type": "function",
        "z": "644a0e6589af788c",
        "name": "C2F",
        "func": "{\n    var val = msg.payload;\n    var f = (val * 1.8) + 32;\n\n    msg.payload = parseFloat(f).toFixed(1)\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 1180,
        "wires": [
            [
                "1d878e458b03d035",
                "f9169936b2314298",
                "31b52e9460087241"
            ]
        ]
    },
    {
        "id": "58ad1a2d32a117d8",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "3db16ff2d329e118",
        "order": 3,
        "width": 5,
        "height": 1,
        "name": "Temp. In C",
        "label": "",
        "format": "{{msg.payload|number:1}} &deg C",
        "layout": "row-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1330,
        "y": 1060,
        "wires": []
    },
    {
        "id": "5181b4451eafe568",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Pressure History",
        "group": "3db16ff2d329e118",
        "order": 13,
        "width": 9,
        "height": 4,
        "label": "Pressure History (hPa)",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1340,
        "y": 1380,
        "wires": [
            []
        ]
    },
    {
        "id": "31b52e9460087241",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "1ddeecdd5e6a952b",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Summary BYWX",
        "label": "Back Yard: ",
        "format": "{{msg.payload|number:1}} &deg F",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1350,
        "y": 1100,
        "wires": []
    },
    {
        "id": "a68e79eb92c8c7a5",
        "type": "link in",
        "z": "644a0e6589af788c",
        "name": "SOPN Data in",
        "links": [
            "eb8cf65d98a836d5"
        ],
        "x": 605,
        "y": 1800,
        "wires": [
            [
                "092cf7a82dc28af1",
                "066e2eccb634abff"
            ]
        ]
    },
    {
        "id": "092cf7a82dc28af1",
        "type": "debug",
        "z": "644a0e6589af788c",
        "name": "SOPN Data",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 1740,
        "wires": []
    },
    {
        "id": "d792dd634b1c6966",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "Battery Level",
        "group": "bfcabef255f8ba06",
        "order": 2,
        "width": 3,
        "height": 3,
        "gtype": "donut",
        "title": "Battery Level",
        "label": "%",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "105",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "33",
        "seg2": "66",
        "diff": false,
        "className": "",
        "x": 1190,
        "y": 1880,
        "wires": []
    },
    {
        "id": "066e2eccb634abff",
        "type": "switch",
        "z": "644a0e6589af788c",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.environmentMetrics",
                "vt": "msg"
            },
            {
                "t": "cont",
                "v": "payload.packet.decoded.payload.deviceMetrics",
                "vt": "msg"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 770,
        "y": 1800,
        "wires": [
            [],
            [
                "145d72bcf11098f5",
                "738618799fb3f85f"
            ],
            []
        ]
    },
    {
        "id": "145d72bcf11098f5",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.voltage",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1800,
        "wires": [
            [
                "db45ab258d6053a5",
                "e8ded0c14b01fa53",
                "547cf976952bc210"
            ]
        ]
    },
    {
        "id": "738618799fb3f85f",
        "type": "change",
        "z": "644a0e6589af788c",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "payload.packet.decoded.payload.deviceMetrics.batteryLevel",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 980,
        "y": 1880,
        "wires": [
            [
                "d792dd634b1c6966"
            ]
        ]
    },
    {
        "id": "e8ded0c14b01fa53",
        "type": "ui_gauge",
        "z": "644a0e6589af788c",
        "name": "",
        "group": "bfcabef255f8ba06",
        "order": 1,
        "width": 3,
        "height": 3,
        "gtype": "gage",
        "title": "Battery Voltage",
        "label": "VDC",
        "format": "{{value | number:1}}",
        "min": 0,
        "max": "5.5",
        "colors": [
            "#eb4d3d",
            "#e6e600",
            "#64c466"
        ],
        "seg1": "3.3",
        "seg2": "3.6",
        "diff": false,
        "className": "",
        "x": 1200,
        "y": 1800,
        "wires": []
    },
    {
        "id": "db45ab258d6053a5",
        "type": "ui_chart",
        "z": "644a0e6589af788c",
        "name": "Battery History",
        "group": "bfcabef255f8ba06",
        "order": 3,
        "width": 8,
        "height": 4,
        "label": "Sensor Battery Voltage History",
        "chartType": "line",
        "legend": "true",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "",
        "ymax": "",
        "removeOlder": "12",
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "className": "",
        "x": 1200,
        "y": 1840,
        "wires": [
            []
        ]
    },
    {
        "id": "72c728e1326c9194",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "dcb7dd6006237647",
        "order": 4,
        "width": 3,
        "height": 1,
        "name": "Summary SO01",
        "label": "SO01: ",
        "format": "{{msg.payload|number:1}} VDC",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1100,
        "y": 900,
        "wires": []
    },
    {
        "id": "547cf976952bc210",
        "type": "ui_text",
        "z": "644a0e6589af788c",
        "group": "dcb7dd6006237647",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "Summary SO01",
        "label": "SOPN: ",
        "format": "{{msg.payload|number:1}} VDC",
        "layout": "col-center",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1200,
        "y": 1760,
        "wires": []
    },
    {
        "id": "3a8074d492515160",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "a904c647809db2d2",
        "order": 1,
        "width": 1,
        "height": 1
    },
    {
        "id": "92807411299771aa",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "40fd4e4f54522cdb",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "c75f63992efa6632",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "dcb7dd6006237647",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "96b145bdbdb57c79",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "dcb7dd6006237647",
        "order": 5,
        "width": 1,
        "height": 1
    },
    {
        "id": "890e33e6ea1bbac3",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "4094c8229ec62653",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "35282378e2954b54",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "bfcabef255f8ba06",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "3e132200443c878b",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "23838ebe8e8e0377",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "a5f9ee77a55a2143",
        "type": "ui_spacer",
        "z": "644a0e6589af788c",
        "name": "spacer",
        "group": "29e2d88428d37922",
        "order": 4,
        "width": 6,
        "height": 1
    },
    {
        "id": "4094c8229ec62653",
        "type": "ui_group",
        "name": "Node SO01",
        "tab": "731a31680cfe6753",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3db16ff2d329e118",
        "type": "ui_group",
        "name": "Back Yard Conditions",
        "tab": "d08e06b5cdc29e38",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "1ddeecdd5e6a952b",
        "type": "ui_group",
        "name": "Temperature Summary",
        "tab": "d08e06b5cdc29e38",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bfcabef255f8ba06",
        "type": "ui_group",
        "name": "Node SOPN",
        "tab": "731a31680cfe6753",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "dcb7dd6006237647",
        "type": "ui_group",
        "name": "Power Summary",
        "tab": "731a31680cfe6753",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "23838ebe8e8e0377",
        "type": "ui_group",
        "name": "Node 7F44",
        "tab": "731a31680cfe6753",
        "order": 4,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "29e2d88428d37922",
        "type": "ui_group",
        "name": "Node 4A5C",
        "tab": "731a31680cfe6753",
        "order": 5,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "731a31680cfe6753",
        "type": "ui_tab",
        "name": "Sensors",
        "icon": "dashboard",
        "order": 3,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d08e06b5cdc29e38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
