flows/ham/flex8600.json
[
    {
        "id": "ca3ef67b789cab5f",
        "type": "tab",
        "label": "Flex-8600",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "b724117d918b4921",
        "type": "flexradio-discovery",
        "z": "ca3ef67b789cab5f",
        "name": "Flex Radio Discovery",
        "port": 4992,
        "x": 720,
        "y": 760,
        "wires": [
            [
                "ce2b8c9e26aeb44a"
            ]
        ]
    },
    {
        "id": "ce2b8c9e26aeb44a",
        "type": "switch",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "property": "payload.nickname",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "N0SO-6600",
                "vt": "str"
            },
            {
                "t": "cont",
                "v": "N0SO-6300",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 910,
        "y": 760,
        "wires": [
            [
                "e554b7fe3b2f0eda",
                "3670c6c53d6ad207",
                "b053b1909b4001ad",
                "5dc75736eadfb645",
                "828e145a67b8020e",
                "e1605945f28498c2"
            ],
            [
                "ecb2959b8d49f30f"
            ],
            []
        ]
    },
    {
        "id": "142329445afd5210",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Initialize Counter",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "subscribe",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "b29e4007fb58a339",
        "type": "inject",
        "z": "ca3ef67b789cab5f",
        "name": "Init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 630,
        "y": 440,
        "wires": [
            [
                "142329445afd5210"
            ]
        ]
    },
    {
        "id": "e554b7fe3b2f0eda",
        "type": "ui_text",
        "z": "ca3ef67b789cab5f",
        "group": "1b3ea183cb956faa",
        "order": 4,
        "width": 0,
        "height": 0,
        "name": "Radio Name",
        "label": "Radio Name:",
        "format": "{{msg.payload.nickname}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1550,
        "y": 700,
        "wires": []
    },
    {
        "id": "3670c6c53d6ad207",
        "type": "ui_text",
        "z": "ca3ef67b789cab5f",
        "group": "1b3ea183cb956faa",
        "order": 5,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Radio Version:",
        "format": "{{msg.payload.version}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1560,
        "y": 740,
        "wires": []
    },
    {
        "id": "b053b1909b4001ad",
        "type": "ui_text",
        "z": "ca3ef67b789cab5f",
        "group": "1b3ea183cb956faa",
        "order": 6,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "Radio IP:",
        "format": "{{msg.payload.ip}}",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1540,
        "y": 780,
        "wires": []
    },
    {
        "id": "fec2fb42126076ef",
        "type": "inject",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "1",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 650,
        "y": 500,
        "wires": [
            [
                "0088cba1c9f81eaf"
            ]
        ]
    },
    {
        "id": "7ece39e4aa5487aa",
        "type": "switch",
        "z": "ca3ef67b789cab5f",
        "name": "Determine Timeout",
        "property": "counter",
        "propertyType": "flow",
        "rules": [
            {
                "t": "gte",
                "v": "7",
                "vt": "num"
            },
            {
                "t": "gte",
                "v": "5",
                "vt": "num"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 1130,
        "y": 500,
        "wires": [
            [
                "a480c6c2598dfc40"
            ],
            [
                "c2b8f91e0af495f6",
                "a7eefa25e63b099b"
            ]
        ]
    },
    {
        "id": "c2b8f91e0af495f6",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Clear Radio Data",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "    ",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1130,
        "y": 560,
        "wires": [
            [
                "b053b1909b4001ad",
                "3670c6c53d6ad207",
                "e554b7fe3b2f0eda"
            ]
        ]
    },
    {
        "id": "5dc75736eadfb645",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Reset Counter",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 700,
        "wires": [
            []
        ]
    },
    {
        "id": "e1605945f28498c2",
        "type": "debug",
        "z": "ca3ef67b789cab5f",
        "name": "debug 29",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 680,
        "wires": []
    },
    {
        "id": "4ec29fdee1c4456d",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "PATEMP Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sub meter TX-/4/PATEMP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1020,
        "wires": [
            [
                "f71ffe40c34e36f0"
            ]
        ]
    },
    {
        "id": "f71ffe40c34e36f0",
        "type": "flexradio-request",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "radio": "58ad49dc68745f11",
        "x": 1090,
        "y": 1020,
        "wires": [
            [
                "d0b877f27bbe87cd"
            ]
        ]
    },
    {
        "id": "d524f9e4278aeaee",
        "type": "flexradio-meter",
        "z": "ca3ef67b789cab5f",
        "name": "Flex-6600",
        "radio": "58ad49dc68745f11",
        "topic": "RAD/334/+13.8A",
        "topic_type": "mqtt",
        "output_mode": "value",
        "x": 1310,
        "y": 560,
        "wires": [
            [
                "2c8c4e30607246df"
            ]
        ]
    },
    {
        "id": "2c8c4e30607246df",
        "type": "ui_gauge",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "group": "1b3ea183cb956faa",
        "order": 8,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "+13.8 VDC A",
        "label": "VDC",
        "format": "{{value}}",
        "min": "10",
        "max": "18",
        "colors": [
            "#fff994",
            "#64c466",
            "#ca3838"
        ],
        "seg1": "12.5",
        "seg2": "15.0",
        "diff": false,
        "className": "",
        "x": 1550,
        "y": 560,
        "wires": []
    },
    {
        "id": "6e5cb6a7c797f312",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Set 6600 Subscribe",
        "rules": [
            {
                "t": "set",
                "p": "subscribe",
                "pt": "flow",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1470,
        "y": 1060,
        "wires": [
            [
                "1b4c894a08b6c613"
            ]
        ]
    },
    {
        "id": "f92a2ebc63ea4154",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "DCV A Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sub meter RAD/334/+13.8A",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 850,
        "y": 1080,
        "wires": [
            [
                "5127570b0c050e23",
                "d4a85796e181559f"
            ]
        ]
    },
    {
        "id": "5127570b0c050e23",
        "type": "flexradio-request",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "radio": "58ad49dc68745f11",
        "x": 1090,
        "y": 1080,
        "wires": [
            [
                "d0b877f27bbe87cd"
            ]
        ]
    },
    {
        "id": "1b4c894a08b6c613",
        "type": "debug",
        "z": "ca3ef67b789cab5f",
        "name": "debug 30",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1000,
        "wires": []
    },
    {
        "id": "09239e6f22bab339",
        "type": "inject",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 710,
        "y": 1140,
        "wires": [
            [
                "f92a2ebc63ea4154",
                "4ec29fdee1c4456d"
            ]
        ]
    },
    {
        "id": "291d5d100ff23d99",
        "type": "flexradio-meter",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "radio": "58ad49dc68745f11",
        "topic": "TX-/4/PATEMP",
        "topic_type": "mqtt",
        "output_mode": "value",
        "x": 1330,
        "y": 640,
        "wires": [
            [
                "341999a0a91350c5",
                "33e30ec1c81dc6df"
            ]
        ]
    },
    {
        "id": "341999a0a91350c5",
        "type": "ui_gauge",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "group": "1b3ea183cb956faa",
        "order": 7,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "PA Temp",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "65",
        "diff": false,
        "className": "",
        "x": 1540,
        "y": 640,
        "wires": []
    },
    {
        "id": "a7eefa25e63b099b",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Clear Radio Meters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0.0",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "subscribe",
                "pt": "flow",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1350,
        "y": 500,
        "wires": [
            [
                "341999a0a91350c5",
                "2c8c4e30607246df",
                "33e30ec1c81dc6df"
            ]
        ]
    },
    {
        "id": "828e145a67b8020e",
        "type": "switch",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "property": "subscribe",
        "propertyType": "flow",
        "rules": [
            {
                "t": "false"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 650,
        "y": 960,
        "wires": [
            [
                "4ec29fdee1c4456d",
                "f92a2ebc63ea4154"
            ],
            []
        ]
    },
    {
        "id": "dbe5759a6e46e655",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "counter",
                "tot": "flow"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1070,
        "y": 440,
        "wires": [
            [
                "8f4b3660b51bbc67"
            ]
        ]
    },
    {
        "id": "8f4b3660b51bbc67",
        "type": "debug",
        "z": "ca3ef67b789cab5f",
        "name": "debug 31",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 380,
        "wires": []
    },
    {
        "id": "a480c6c2598dfc40",
        "type": "change",
        "z": "ca3ef67b789cab5f",
        "name": "Hold counter",
        "rules": [
            {
                "t": "set",
                "p": "counter",
                "pt": "flow",
                "to": "12",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1310,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "0088cba1c9f81eaf",
        "type": "function",
        "z": "ca3ef67b789cab5f",
        "name": "IncCounter",
        "func": "var myCount = flow.get(\"counter\");\nmyCount++;\nflow.set(\"counter\", myCount);\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 830,
        "y": 500,
        "wires": [
            [
                "dbe5759a6e46e655",
                "7ece39e4aa5487aa"
            ]
        ]
    },
    {
        "id": "d0b877f27bbe87cd",
        "type": "switch",
        "z": "ca3ef67b789cab5f",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "radio not available or connected.",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 3,
        "x": 1270,
        "y": 1080,
        "wires": [
            [
                "6e5cb6a7c797f312"
            ],
            [
                "7656b1e95ce6d804"
            ],
            []
        ]
    },
    {
        "id": "7656b1e95ce6d804",
        "type": "debug",
        "z": "ca3ef67b789cab5f",
        "name": "debug 32",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1360,
        "y": 1160,
        "wires": []
    },
    {
        "id": "d4a85796e181559f",
        "type": "debug",
        "z": "ca3ef67b789cab5f",
        "name": "debug 39",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1040,
        "y": 1160,
        "wires": []
    },
    {
        "id": "33e30ec1c81dc6df",
        "type": "ui_text",
        "z": "ca3ef67b789cab5f",
        "group": "7f9ce2c2b5876c23",
        "order": 6,
        "width": 3,
        "height": 1,
        "name": "8600 Summary Temperature",
        "label": "TEMP: ",
        "format": "{{msg.payload}} C",
        "layout": "row-left",
        "className": "",
        "style": false,
        "font": "",
        "fontSize": 16,
        "color": "#000000",
        "x": 1600,
        "y": 600,
        "wires": []
    },
    {
        "id": "ecb2959b8d49f30f",
        "type": "link out",
        "z": "ca3ef67b789cab5f",
        "name": "6300 Detected",
        "mode": "link",
        "links": [
            "f50c5df9f632aafa"
        ],
        "x": 1068,
        "y": 830,
        "wires": []
    },
    {
        "id": "dd4e1aa988d9f9b1",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "7f9ce2c2b5876c23",
        "order": 8,
        "width": 10,
        "height": 1
    },
    {
        "id": "0498ce5b21195d8a",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "0519e14e01188dad",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 3,
        "width": 11,
        "height": 1
    },
    {
        "id": "fb5d0dde5618fc55",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "d3487fc116ae353d",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 6,
        "width": 11,
        "height": 1
    },
    {
        "id": "e65e125b4d6971e5",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "a8efeec4f755961a",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 9,
        "width": 11,
        "height": 1
    },
    {
        "id": "65ebf8e7f8423f08",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 10,
        "width": 16,
        "height": 1
    },
    {
        "id": "a8a1cd7c3f61ecbb",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 14,
        "width": 9,
        "height": 1
    },
    {
        "id": "f6b9f04426e9f76f",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 16,
        "width": 3,
        "height": 1
    },
    {
        "id": "fb2c459a24bc07c8",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 18,
        "width": 9,
        "height": 1
    },
    {
        "id": "e089ae7af9eb6d6c",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "1b3ea183cb956faa",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "fcf0c02ee88931c0",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "bc2d850f3f12f4ca",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "2b4f3d0ffbcace75",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "f57646e009934699",
        "order": 2,
        "width": 11,
        "height": 1
    },
    {
        "id": "badec95afba97e34",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "f57646e009934699",
        "order": 4,
        "width": 11,
        "height": 1
    },
    {
        "id": "8e63092dd2a82346",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "96a744f36ee4fe54",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "2dbd3099c82372fa",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "d6336a4eb0040235",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "8d05e0a3bc74c34b",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "67d910081bd75402",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "f076db1b26daa7bf",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "56be130678bdfa44",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "8738855af91d015f",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "5a7c602160e6e249",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "57f6e5bcb01040f2",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "ad842c4587c3ab16",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "c711966e7a0900b2",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "a0b2a4fb2e073672",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "2a6dd1d156055474",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "ec6e4494d995deee",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "02d811b93c3af7eb",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "8c861f4ef915e8ab",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "688509585b7933ea",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "b6def67286a153be",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "63b0b8a1faaa6f13",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "bd8f90581cf01486",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 32,
        "width": 4,
        "height": 1
    },
    {
        "id": "03788bec71d49487",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "f6b89def8a1228d6",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 34,
        "width": 4,
        "height": 1
    },
    {
        "id": "a83d38ccd1db5f16",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "c931f4bb04bbbcc6",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "552aeeadb22de6db",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "f8902f9585cd97f2",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "1fc2bc03a9870177",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 42,
        "width": 8,
        "height": 1
    },
    {
        "id": "eef5e64a3af130b7",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "89a202b181b28e0f",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 44,
        "width": 8,
        "height": 1
    },
    {
        "id": "58fef64efb86642d",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "2144bcc86250b77e",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "721db47ca1a51916",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "ce97327be1a12a70",
        "type": "ui_spacer",
        "z": "ca3ef67b789cab5f",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "1b3ea183cb956faa",
        "type": "ui_group",
        "name": "Flex 8600 Power Control",
        "tab": "2f150eb340621efc",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "58ad49dc68745f11",
        "type": "flexradio-radio",
        "name": "",
        "host_mode": "nickname",
        "nickname": "N0SO-6600",
        "host": "",
        "port": "",
        "station_name": "NodeRed",
        "slice_mode": "headless",
        "slice_name": "A",
        "timeout": "15"
    },
    {
        "id": "7f9ce2c2b5876c23",
        "type": "ui_group",
        "name": "Summary",
        "tab": "2f150eb340621efc",
        "order": 1,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "30c71f768b286eca",
        "type": "ui_group",
        "name": "Antenna",
        "tab": "2f150eb340621efc",
        "order": 2,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc2d850f3f12f4ca",
        "type": "ui_group",
        "name": "Flex 6300 Power Control",
        "tab": "2f150eb340621efc",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f57646e009934699",
        "type": "ui_group",
        "name": "Shack Lights",
        "tab": "2f150eb340621efc",
        "order": 5,
        "disp": true,
        "width": 16,
        "collapse": false,
        "className": ""
    },
    {
        "id": "c64dfde351e348df",
        "type": "ui_group",
        "name": "Remote Antenna Switch Battery Status",
        "tab": "2f150eb340621efc",
        "order": 6,
        "disp": true,
        "width": 16,
        "collapse": true,
        "className": ""
    },
    {
        "id": "86dd895c94f5ee59",
        "type": "ui_group",
        "name": "CPU Params",
        "tab": "2f150eb340621efc",
        "order": 7,
        "disp": true,
        "width": 16,
        "collapse": true,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
