flows/ham/flex8600.json
[
    {
        "id": "41eed58086f86e7e",
        "type": "tab",
        "label": "Flex 8600",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "37a21c55b66a684c",
        "type": "ui_gauge",
        "z": "41eed58086f86e7e",
        "name": "",
        "group": "f96278dbcbb90e01",
        "order": 5,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "+13.8 VDC A",
        "label": "VDC",
        "format": "{{value}}",
        "min": "10",
        "max": "18",
        "colors": [
            "#fff994",
            "#64c466",
            "#ca3838"
        ],
        "seg1": "12.5",
        "seg2": "15.0",
        "diff": false,
        "className": "",
        "x": 649.9911499023438,
        "y": 987.555419921875,
        "wires": []
    },
    {
        "id": "8973416ef1e28909",
        "type": "gate",
        "z": "41eed58086f86e7e",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 389.99114990234375,
        "y": 367.555419921875,
        "wires": [
            [
                "3ecf519ab8440cb8"
            ]
        ]
    },
    {
        "id": "d761a6bdf38712c7",
        "type": "function",
        "z": "41eed58086f86e7e",
        "name": "button logic",
        "func": "\nlet payload=msg.payload;\nlet state=context.get(\"state\");\nif(msg.topic==\"init\")\n{\n    state = \"open\";\n    msg.payload = \"close\";\n    msg.background = \"red\";\n    msg.label = \"Press to Power-On\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"control\";\n    context.set(\"state\", \"closed\");\n    return msg;\n}\n//toggle\nif (typeof state == \"undefined\" || state==\"open\")\n{\n//state=\"open\";\nmsg.payload= \"close\";\nmsg.background = \"red\";\nmsg.label = \"Press to Power-On\";\nmsg.myicon = \"fa-toggle-off\";\nstate=\"closed\";\n\n}\nelse if (typeof state == \"undefined\" || state == \"closed\") {\n//state = \"close\";\nmsg.payload= \"open\";\nmsg.background = \"green\";\nmsg.label = \"Press to Power-Off\";\nmsg.myicon=\"fa-toggle-on\";\nstate=\"open\";\n\n}\ncontext.set(\"state\",state);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"state\", \"closed\");",
        "finalize": "",
        "libs": [],
        "x": 419.99114990234375,
        "y": 467.555419921875,
        "wires": [
            [
                "8973416ef1e28909",
                "f4ae33b552d1ac07",
                "e37ef97c955c452f",
                "9750da4c3902d9c2"
            ]
        ]
    },
    {
        "id": "3ecf519ab8440cb8",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 559.9911499023438,
        "y": 367.555419921875,
        "wires": []
    },
    {
        "id": "a739ec88c35ed424",
        "type": "inject",
        "z": "41eed58086f86e7e",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "init",
        "payload": "close",
        "payloadType": "str",
        "x": 209.99114990234375,
        "y": 427.555419921875,
        "wires": [
            [
                "d761a6bdf38712c7",
                "7a42ad01d78cc5fd"
            ]
        ]
    },
    {
        "id": "174d4eb092992731",
        "type": "ui_button",
        "z": "41eed58086f86e7e",
        "name": "Flex 8600 Power",
        "group": "f96278dbcbb90e01",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "Toggles Flex 8600 Power on/off",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 239.99114990234375,
        "y": 487.555419921875,
        "wires": [
            [
                "d761a6bdf38712c7"
            ]
        ]
    },
    {
        "id": "f4ae33b552d1ac07",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 439.99114990234375,
        "y": 567.555419921875,
        "wires": [
            [
                "174d4eb092992731"
            ]
        ]
    },
    {
        "id": "e37ef97c955c452f",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 589.9911499023438,
        "y": 507.555419921875,
        "wires": []
    },
    {
        "id": "9750da4c3902d9c2",
        "type": "switch",
        "z": "41eed58086f86e7e",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 789.9911499023438,
        "y": 467.555419921875,
        "wires": [
            [
                "802c7bae36f055f1",
                "abea896c7fec010f"
            ],
            [
                "3f6e2727a7ec414b",
                "512c81bd22ead160",
                "157aade133323c3b"
            ]
        ]
    },
    {
        "id": "7a42ad01d78cc5fd",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "Initialize radio connect parameters",
        "rules": [
            {
                "t": "set",
                "p": "host",
                "pt": "flow",
                "to": "192.168.1.xxx",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "port",
                "pt": "flow",
                "to": "4992",
                "tot": "num"
            },
            {
                "t": "set",
                "p": "nickname",
                "pt": "flow",
                "to": "N0SO-8600",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 469.99114990234375,
        "y": 307.555419921875,
        "wires": [
            []
        ]
    },
    {
        "id": "802c7bae36f055f1",
        "type": "http request",
        "z": "41eed58086f86e7e",
        "name": "Connect ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0101",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1009.9911499023438,
        "y": 447.555419921875,
        "wires": [
            [
                "4dc003c46893e651"
            ]
        ]
    },
    {
        "id": "abea896c7fec010f",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "connect 8600",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "connect",
                "tot": "str"
            },
            {
                "t": "set",
                "p": "radio",
                "pt": "msg",
                "to": "{\"host_mode\":\"manual\",\"host\":\"192.168.1.xxx\",\"port\":4992}",
                "tot": "json"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 800,
        "y": 280,
        "wires": [
            [
                "f56359e99a177a97",
                "62496d6cdff924c4"
            ]
        ]
    },
    {
        "id": "3f0b0187001e6fb9",
        "type": "http request",
        "z": "41eed58086f86e7e",
        "name": "Disconnect",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 1029.9911499023438,
        "y": 487.555419921875,
        "wires": [
            [
                "4dc003c46893e651",
                "085532275f7ca498",
                "336726c2b36895f9"
            ]
        ]
    },
    {
        "id": "3f6e2727a7ec414b",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "disconnect 8600",
        "rules": [
            {
                "t": "set",
                "p": "action",
                "pt": "msg",
                "to": "disconnect",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 941.9911499023438,
        "y": 342.555419921875,
        "wires": [
            [
                "2402114a4a145b6b"
            ]
        ]
    },
    {
        "id": "4dc003c46893e651",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 8600 Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1249.9911499023438,
        "y": 467.555419921875,
        "wires": []
    },
    {
        "id": "f56359e99a177a97",
        "type": "delay",
        "z": "41eed58086f86e7e",
        "name": "",
        "pauseType": "delay",
        "timeout": "45",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 969.9911499023438,
        "y": 287.555419921875,
        "wires": [
            [
                "2402114a4a145b6b"
            ]
        ]
    },
    {
        "id": "62496d6cdff924c4",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 70",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 749.9911499023438,
        "y": 227.555419921875,
        "wires": []
    },
    {
        "id": "085532275f7ca498",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "ClearInfo",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 860,
        "y": 1060,
        "wires": [
            [
                "411be70397791699"
            ]
        ]
    },
    {
        "id": "336726c2b36895f9",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "clear meters",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "0",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 870,
        "y": 1020,
        "wires": [
            [
                "2a8883d2f8925c87",
                "37a21c55b66a684c",
                "55a1616339d5e7a4"
            ]
        ]
    },
    {
        "id": "2402114a4a145b6b",
        "type": "flexradio-request",
        "z": "41eed58086f86e7e",
        "name": "",
        "radio": "",
        "x": 1189.9911499023438,
        "y": 287.555419921875,
        "wires": [
            [
                "d566e70b35d2bd0d"
            ]
        ]
    },
    {
        "id": "411be70397791699",
        "type": "ui_template",
        "z": "41eed58086f86e7e",
        "group": "f96278dbcbb90e01",
        "name": "Flex 8600 Info",
        "order": 4,
        "width": 0,
        "height": 0,
        "format": "<fieldset>\n    <legend class=\"{{msg.box}}\" ; style=\"text-align: center\" ;>{{msg.payload.model}} Info:</legend>\n    <div style=\"text-align: center\" ;><b>Radio Name: </b>{{msg.payload.name}}</div>\n    <div style=\"text-align: center\" ;><b>Radio Version: </b>{{msg.payload.software_ver}}</div>\n    <div style=\"text-align: center\" ;><b>Radio IP: </b>{{msg.payload.ip}}</div>\n</fieldset>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 1400,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "2a8883d2f8925c87",
        "type": "ui_gauge",
        "z": "41eed58086f86e7e",
        "name": "",
        "group": "f96278dbcbb90e01",
        "order": 6,
        "width": 4,
        "height": 3,
        "gtype": "gage",
        "title": "PA Temp",
        "label": "C",
        "format": "{{value}}",
        "min": "20",
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "55",
        "seg2": "65",
        "diff": false,
        "className": "",
        "x": 629.9911499023438,
        "y": 907.555419921875,
        "wires": []
    },
    {
        "id": "12b394c1a4766b51",
        "type": "inject",
        "z": "41eed58086f86e7e",
        "name": "Meter List",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "sub meter TX-/4/PATEMP",
        "payloadType": "str",
        "x": 949.9911499023438,
        "y": 227.555419921875,
        "wires": [
            [
                "2402114a4a145b6b"
            ]
        ]
    },
    {
        "id": "d566e70b35d2bd0d",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 26",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1149.9911499023438,
        "y": 227.555419921875,
        "wires": []
    },
    {
        "id": "b785cdcdc0719c87",
        "type": "flexradio-request",
        "z": "41eed58086f86e7e",
        "name": "",
        "radio": "",
        "x": 910,
        "y": 820,
        "wires": [
            [
                "b27a2886c5a31a44",
                "b86b4411e62a701e"
            ]
        ]
    },
    {
        "id": "d63aed0f980cd4c2",
        "type": "flexradio-meter",
        "z": "41eed58086f86e7e",
        "name": "Flex 8600 PA Temp",
        "radio": "",
        "topic": "TX-/4/PATEMP",
        "topic_type": "mqtt",
        "output_mode": "value",
        "x": 430,
        "y": 920,
        "wires": [
            [
                "2a8883d2f8925c87",
                "55a1616339d5e7a4",
                "868868e9275830d3"
            ]
        ]
    },
    {
        "id": "da3cc1e66299bee9",
        "type": "flexradio-meter",
        "z": "41eed58086f86e7e",
        "name": "Flex-8600 VDCA",
        "radio": "",
        "topic": "RAD/208/+13.8A",
        "topic_type": "mqtt",
        "output_mode": "value",
        "x": 420,
        "y": 980,
        "wires": [
            [
                "37a21c55b66a684c",
                "e244f957de5cdd7d"
            ]
        ]
    },
    {
        "id": "924d9bc958d896c1",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "Radio Info Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "info",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 690,
        "y": 820,
        "wires": [
            [
                "d4719a3f1a13e0d5",
                "b785cdcdc0719c87"
            ]
        ]
    },
    {
        "id": "b27a2886c5a31a44",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 69",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1069.9911499023438,
        "y": 887.555419921875,
        "wires": []
    },
    {
        "id": "55a1616339d5e7a4",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "pa86",
                "pt": "global",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 669.9911499023438,
        "y": 867.555419921875,
        "wires": [
            []
        ]
    },
    {
        "id": "868868e9275830d3",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 62",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 629.9911499023438,
        "y": 947.555419921875,
        "wires": []
    },
    {
        "id": "6bf342ef9052f7e5",
        "type": "switch",
        "z": "41eed58086f86e7e",
        "name": "Connected",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "connected",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 1,
        "x": 650,
        "y": 680,
        "wires": [
            [
                "924d9bc958d896c1"
            ]
        ]
    },
    {
        "id": "d4719a3f1a13e0d5",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 64",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 849.9911499023438,
        "y": 887.555419921875,
        "wires": []
    },
    {
        "id": "536ab7771a484352",
        "type": "flexradio-message",
        "z": "41eed58086f86e7e",
        "name": "",
        "radio": "",
        "client": "radio",
        "topic": "",
        "topic_type": "mqtt",
        "x": 450,
        "y": 680,
        "wires": [
            [
                "056f11ea9323a696",
                "6bf342ef9052f7e5"
            ]
        ]
    },
    {
        "id": "1d57996e85cc6fd4",
        "type": "delay",
        "z": "41eed58086f86e7e",
        "name": "",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 840,
        "y": 680,
        "wires": [
            [
                "56c5bec11223b60a",
                "a9d832e1aa99a430"
            ]
        ]
    },
    {
        "id": "056f11ea9323a696",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 27",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 609.9911499023438,
        "y": 747.555419921875,
        "wires": []
    },
    {
        "id": "56c5bec11223b60a",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "PATEMP Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sub meter TX-/4/PATEMP",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 680,
        "wires": [
            [
                "e09bdeb88a0cb1ed"
            ]
        ]
    },
    {
        "id": "a9d832e1aa99a430",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "DCV A Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "sub meter RAD/208/+13.8A",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1020,
        "y": 720,
        "wires": [
            [
                "0c84842241b310cb"
            ]
        ]
    },
    {
        "id": "e09bdeb88a0cb1ed",
        "type": "flexradio-request",
        "z": "41eed58086f86e7e",
        "name": "",
        "radio": "",
        "x": 1269.9911499023438,
        "y": 667.555419921875,
        "wires": [
            [
                "a0c5b5381ede659e"
            ]
        ]
    },
    {
        "id": "0c84842241b310cb",
        "type": "flexradio-request",
        "z": "41eed58086f86e7e",
        "name": "",
        "radio": "",
        "x": 1269.9911499023438,
        "y": 707.555419921875,
        "wires": [
            [
                "7019552973943884"
            ]
        ]
    },
    {
        "id": "a0c5b5381ede659e",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 67",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 660,
        "wires": []
    },
    {
        "id": "7019552973943884",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 68",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1440,
        "y": 720,
        "wires": []
    },
    {
        "id": "e244f957de5cdd7d",
        "type": "stoptimer2",
        "z": "41eed58086f86e7e",
        "duration": "5",
        "durationType": "num",
        "units": "Second",
        "payloadtype": "num",
        "payloadval": "0",
        "name": "Radio Timeout",
        "x": 660,
        "y": 1040,
        "wires": [
            [
                "336726c2b36895f9",
                "085532275f7ca498"
            ],
            []
        ]
    },
    {
        "id": "24fc34849ac614b0",
        "type": "debug",
        "z": "41eed58086f86e7e",
        "name": "debug 71",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 1380,
        "y": 840,
        "wires": []
    },
    {
        "id": "512c81bd22ead160",
        "type": "change",
        "z": "41eed58086f86e7e",
        "name": "Unsub Meter Request",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "unsub meter all",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 920,
        "y": 620,
        "wires": [
            [
                "0c84842241b310cb",
                "e09bdeb88a0cb1ed"
            ]
        ]
    },
    {
        "id": "157aade133323c3b",
        "type": "delay",
        "z": "41eed58086f86e7e",
        "name": "Power-down  Timer",
        "pauseType": "delay",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 910,
        "y": 560,
        "wires": [
            [
                "3f0b0187001e6fb9"
            ]
        ]
    },
    {
        "id": "b86b4411e62a701e",
        "type": "function",
        "z": "41eed58086f86e7e",
        "name": "VerifyRadioName",
        "func": "var msgText = msg.payload;\nlet msg1 = {payload:false};\nif (typeof msgText.name !== 'undefined'){\n    if (msg.payload.name == flow.get(\"nickname\")) {\n        msg1.payload = true;\n        return[msg, msg1, null];\n    }\n}\nreturn [null, null, msg1];",
        "outputs": 3,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1130,
        "y": 820,
        "wires": [
            [
                "411be70397791699",
                "24fc34849ac614b0"
            ],
            [
                "1d57996e85cc6fd4"
            ],
            []
        ]
    },
    {
        "id": "5ab947f8d7e64109",
        "type": "inject",
        "z": "41eed58086f86e7e",
        "name": "UNSUB METERS",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 660,
        "y": 620,
        "wires": [
            [
                "512c81bd22ead160"
            ]
        ]
    },
    {
        "id": "5b2ce2b8a312b333",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 1,
        "width": 6,
        "height": 1
    },
    {
        "id": "cd772f285bc498fa",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "30c71f768b286eca",
        "order": 3,
        "width": 6,
        "height": 1
    },
    {
        "id": "fd722572dfa544ac",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "f96278dbcbb90e01",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "4df86a6de4cfa832",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "f96278dbcbb90e01",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "4e945458a5bd24bd",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "bc2d850f3f12f4ca",
        "order": 1,
        "width": 2,
        "height": 1
    },
    {
        "id": "b29f63d91d1ac37d",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "bc2d850f3f12f4ca",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "e1ec13b904161eef",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 3,
        "width": 2,
        "height": 1
    },
    {
        "id": "4358219105514092",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 4,
        "width": 2,
        "height": 1
    },
    {
        "id": "e0d91252275c0c6b",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 5,
        "width": 2,
        "height": 1
    },
    {
        "id": "30bded6df9efb7ac",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 6,
        "width": 4,
        "height": 1
    },
    {
        "id": "03c5d85129e6c226",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 7,
        "width": 2,
        "height": 1
    },
    {
        "id": "adfc5e6fe5e95152",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 8,
        "width": 4,
        "height": 1
    },
    {
        "id": "847e81b2be6586c9",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 9,
        "width": 2,
        "height": 1
    },
    {
        "id": "06fbaf2b50cc2647",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 12,
        "width": 2,
        "height": 1
    },
    {
        "id": "967562ef4b984747",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 13,
        "width": 2,
        "height": 1
    },
    {
        "id": "99f6c5002b368dd7",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 14,
        "width": 2,
        "height": 1
    },
    {
        "id": "2e583684cc95106d",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 15,
        "width": 4,
        "height": 1
    },
    {
        "id": "3fb9e4190a022c07",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 16,
        "width": 2,
        "height": 1
    },
    {
        "id": "72e039957b64f102",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 17,
        "width": 4,
        "height": 1
    },
    {
        "id": "d1f01eaca73ebecd",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 18,
        "width": 2,
        "height": 1
    },
    {
        "id": "b92d6ebbe93c3bb0",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 22,
        "width": 2,
        "height": 1
    },
    {
        "id": "49b62a1e11106498",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 23,
        "width": 2,
        "height": 1
    },
    {
        "id": "a16cd9f2ea548128",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 24,
        "width": 2,
        "height": 1
    },
    {
        "id": "933608e1850cd2f4",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 26,
        "width": 2,
        "height": 1
    },
    {
        "id": "f06f96da45e95e59",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 29,
        "width": 2,
        "height": 1
    },
    {
        "id": "1a6bf1dc1143910d",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 30,
        "width": 4,
        "height": 1
    },
    {
        "id": "e477aefe9ee96101",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 31,
        "width": 2,
        "height": 1
    },
    {
        "id": "711003da40f6c408",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 32,
        "width": 4,
        "height": 1
    },
    {
        "id": "69c6a7b2b37a07ae",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 33,
        "width": 2,
        "height": 1
    },
    {
        "id": "33f063e36bae56a6",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 34,
        "width": 4,
        "height": 1
    },
    {
        "id": "8f7a5cf3ab5d7999",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 35,
        "width": 2,
        "height": 1
    },
    {
        "id": "0f25a3b9072b29e1",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 39,
        "width": 2,
        "height": 1
    },
    {
        "id": "8ee2c54dbc0dc151",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 40,
        "width": 2,
        "height": 1
    },
    {
        "id": "4a27d65c5a7fe592",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 41,
        "width": 2,
        "height": 1
    },
    {
        "id": "ac71dae255d1967c",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 42,
        "width": 8,
        "height": 1
    },
    {
        "id": "c430ffd59cbffd40",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 43,
        "width": 2,
        "height": 1
    },
    {
        "id": "1c1a2b6bc6324543",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 44,
        "width": 8,
        "height": 1
    },
    {
        "id": "e45f90947583cf86",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "c64dfde351e348df",
        "order": 45,
        "width": 2,
        "height": 1
    },
    {
        "id": "9f5fd508bb19189a",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 3,
        "width": 4,
        "height": 1
    },
    {
        "id": "9dc3749849654291",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 4,
        "width": 4,
        "height": 1
    },
    {
        "id": "1f8d6a452187c487",
        "type": "ui_spacer",
        "z": "41eed58086f86e7e",
        "name": "spacer",
        "group": "86dd895c94f5ee59",
        "order": 5,
        "width": 4,
        "height": 1
    },
    {
        "id": "f96278dbcbb90e01",
        "type": "ui_group",
        "name": "Flex 8600 Power Control",
        "tab": "2f150eb340621efc",
        "order": 3,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "30c71f768b286eca",
        "type": "ui_group",
        "name": "Antenna Selection",
        "tab": "2f150eb340621efc",
        "order": 2,
        "disp": true,
        "width": "16",
        "collapse": true,
        "className": ""
    },
    {
        "id": "bc2d850f3f12f4ca",
        "type": "ui_group",
        "name": "Flex 6300 Power Control",
        "tab": "2f150eb340621efc",
        "order": 4,
        "disp": true,
        "width": "8",
        "collapse": true,
        "className": ""
    },
    {
        "id": "c64dfde351e348df",
        "type": "ui_group",
        "name": "Remote Antenna Switch Battery Status",
        "tab": "2f150eb340621efc",
        "order": 6,
        "disp": true,
        "width": 16,
        "collapse": true,
        "className": ""
    },
    {
        "id": "86dd895c94f5ee59",
        "type": "ui_group",
        "name": "CPU Params",
        "tab": "2f150eb340621efc",
        "order": 7,
        "disp": true,
        "width": 16,
        "collapse": true,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    }
]
