flows/ham/stationpower.json
[
    {
        "id": "bb023bbdcb55a512",
        "type": "tab",
        "label": "Station Power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "22757beb4cb79553",
        "type": "ui_switch",
        "z": "bb023bbdcb55a512",
        "name": "",
        "label": "Flex 6600",
        "tooltip": "Applies / Removes Flex 6600 Power",
        "group": "7c7defaf3327e409",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "2ec9cb4da006e52f"
            ]
        ]
    },
    {
        "id": "2ec9cb4da006e52f",
        "type": "switch",
        "z": "bb023bbdcb55a512",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 120,
        "wires": [
            [
                "e2af3cf20ea0a7a9"
            ],
            [
                "04a7674cf6827f61"
            ]
        ]
    },
    {
        "id": "e2af3cf20ea0a7a9",
        "type": "http request",
        "z": "bb023bbdcb55a512",
        "name": "Connect ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0101",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 100,
        "wires": [
            [
                "5420d2907e518d9c"
            ]
        ]
    },
    {
        "id": "04a7674cf6827f61",
        "type": "http request",
        "z": "bb023bbdcb55a512",
        "name": "Disconnect",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 160,
        "wires": [
            [
                "5420d2907e518d9c"
            ]
        ]
    },
    {
        "id": "5420d2907e518d9c",
        "type": "debug",
        "z": "bb023bbdcb55a512",
        "name": "debug 6600 Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 100,
        "wires": []
    },
    {
        "id": "90cecb253fc9d45f",
        "type": "ui_switch",
        "z": "bb023bbdcb55a512",
        "name": "",
        "label": "Flex 6300",
        "tooltip": "Applies / Removes Flex 6600 Power",
        "group": "7c7defaf3327e409",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": true,
        "decouple": "false",
        "topic": "topic",
        "topicType": "msg",
        "style": "",
        "onvalue": "true",
        "onvalueType": "bool",
        "onicon": "",
        "oncolor": "",
        "offvalue": "false",
        "offvalueType": "bool",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "className": "",
        "x": 140,
        "y": 260,
        "wires": [
            [
                "5b2fcbfab0d1a0fd"
            ]
        ]
    },
    {
        "id": "5b2fcbfab0d1a0fd",
        "type": "switch",
        "z": "bb023bbdcb55a512",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "true"
            },
            {
                "t": "false"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 290,
        "y": 260,
        "wires": [
            [
                "f281e50eab61cb16"
            ],
            [
                "328babdec2e538ba"
            ]
        ]
    },
    {
        "id": "f281e50eab61cb16",
        "type": "http request",
        "z": "bb023bbdcb55a512",
        "name": "Connect ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0301",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 440,
        "y": 240,
        "wires": [
            [
                "1f262290868cddfe"
            ]
        ]
    },
    {
        "id": "328babdec2e538ba",
        "type": "http request",
        "z": "bb023bbdcb55a512",
        "name": "Disconnect",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0300",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 450,
        "y": 300,
        "wires": [
            [
                "1f262290868cddfe"
            ]
        ]
    },
    {
        "id": "1f262290868cddfe",
        "type": "debug",
        "z": "bb023bbdcb55a512",
        "name": "debug 6300 Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 660,
        "y": 240,
        "wires": []
    },
    {
        "id": "7c7defaf3327e409",
        "type": "ui_group",
        "name": "Rig Power Control",
        "tab": "2f150eb340621efc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
