flows/ham/stationpower.json
[
    {
        "id": "8eef662251c0531b",
        "type": "tab",
        "label": "Station Power",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "c808a418a38a99d7",
        "type": "group",
        "z": "8eef662251c0531b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "e7ee71c0fc8ed166",
            "373c087b454cadb8",
            "b8fa7669e907f3b3",
            "16eac3657916ead6"
        ],
        "x": 694,
        "y": 479,
        "w": 572,
        "h": 142
    },
    {
        "id": "8a627998db0c8522",
        "type": "group",
        "z": "8eef662251c0531b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "7a298908622521f7",
            "f22b2d4005b84c98",
            "2ebac09b430fcefa",
            "dcb2b9c70757a279"
        ],
        "x": 694,
        "y": 119,
        "w": 582,
        "h": 142
    },
    {
        "id": "d0bf0eea5447bb29",
        "type": "group",
        "z": "8eef662251c0531b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "d35fafdc2f0cadff",
            "27ca0097a6287377",
            "c422d55a023dc59c",
            "955a8942505cb4b2",
            "1e3a8cf10cd40b16",
            "57973ede8fb2fc05",
            "278bdd3813145e0c",
            "ec7fe19d288fdf2b"
        ],
        "x": 64,
        "y": 399,
        "w": 602,
        "h": 282
    },
    {
        "id": "2ca7adfc8b5eca4d",
        "type": "group",
        "z": "8eef662251c0531b",
        "style": {
            "stroke": "#999999",
            "stroke-opacity": "1",
            "fill": "none",
            "fill-opacity": "1",
            "label": true,
            "label-position": "nw",
            "color": "#a4a4a4"
        },
        "nodes": [
            "53cfd32f3674044f",
            "9473d8782e88e396",
            "f75f628b69a83615",
            "3c3032d473f91ea7",
            "164eef2581c8b6f1",
            "19c6292a0444afc8",
            "9d3beeb2a4291a1c",
            "e98f81e6de2dda81"
        ],
        "x": 54,
        "y": 39,
        "w": 612,
        "h": 282
    },
    {
        "id": "dcb2b9c70757a279",
        "type": "switch",
        "z": "8eef662251c0531b",
        "g": "8a627998db0c8522",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 180,
        "wires": [
            [
                "f22b2d4005b84c98"
            ],
            [
                "7a298908622521f7"
            ]
        ]
    },
    {
        "id": "f22b2d4005b84c98",
        "type": "http request",
        "z": "8eef662251c0531b",
        "g": "8a627998db0c8522",
        "name": "Connect ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0101",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 920,
        "y": 160,
        "wires": [
            [
                "2ebac09b430fcefa"
            ]
        ]
    },
    {
        "id": "7a298908622521f7",
        "type": "http request",
        "z": "8eef662251c0531b",
        "g": "8a627998db0c8522",
        "name": "Disconnect",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0100",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 930,
        "y": 220,
        "wires": [
            [
                "2ebac09b430fcefa"
            ]
        ]
    },
    {
        "id": "2ebac09b430fcefa",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "8a627998db0c8522",
        "name": "debug 8600 Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1140,
        "y": 160,
        "wires": []
    },
    {
        "id": "e7ee71c0fc8ed166",
        "type": "switch",
        "z": "8eef662251c0531b",
        "g": "c808a418a38a99d7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "open",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "close",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 770,
        "y": 540,
        "wires": [
            [
                "373c087b454cadb8"
            ],
            [
                "b8fa7669e907f3b3"
            ]
        ]
    },
    {
        "id": "373c087b454cadb8",
        "type": "http request",
        "z": "8eef662251c0531b",
        "g": "c808a418a38a99d7",
        "name": "Connect ",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0301",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 910,
        "y": 520,
        "wires": [
            [
                "16eac3657916ead6"
            ]
        ]
    },
    {
        "id": "b8fa7669e907f3b3",
        "type": "http request",
        "z": "8eef662251c0531b",
        "g": "c808a418a38a99d7",
        "name": "Disconnect",
        "method": "GET",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "192.168.1.199/FF0300",
        "tls": "",
        "persist": false,
        "proxy": "",
        "insecureHTTPParser": false,
        "authType": "",
        "senderr": false,
        "headers": [],
        "x": 920,
        "y": 580,
        "wires": [
            [
                "16eac3657916ead6"
            ]
        ]
    },
    {
        "id": "16eac3657916ead6",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "c808a418a38a99d7",
        "name": "debug 6300 Power",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1130,
        "y": 520,
        "wires": []
    },
    {
        "id": "19c6292a0444afc8",
        "type": "change",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 360,
        "y": 280,
        "wires": [
            [
                "f75f628b69a83615"
            ]
        ]
    },
    {
        "id": "f75f628b69a83615",
        "type": "ui_button",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "Flex 8600 Power",
        "group": "1b3ea183cb956faa",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "Toggles Flex 8600 Power on/off",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "164eef2581c8b6f1"
            ]
        ]
    },
    {
        "id": "164eef2581c8b6f1",
        "type": "function",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "button logic",
        "func": "\nlet payload=msg.payload;\nlet state=context.get(\"state\");\nif(msg.topic==\"init\")\n{\n    state = \"open\";\n    msg.payload = \"close\";\n    msg.background = \"red\";\n    msg.label = \"Press to Power-On\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"control\";\n    context.set(\"state\", \"closed\");\n    return msg;\n}\n//toggle\nif (typeof state == \"undefined\" || state==\"open\")\n{\n//state=\"open\";\nmsg.payload= \"close\";\nmsg.background = \"red\";\nmsg.label = \"Press to Power-On\";\nmsg.myicon = \"fa-toggle-off\";\nstate=\"closed\";\n\n}\nelse if (typeof state == \"undefined\" || state == \"closed\") {\n//state = \"close\";\nmsg.payload= \"open\";\nmsg.background = \"green\";\nmsg.label = \"Press to Power-Off\";\nmsg.myicon=\"fa-toggle-on\";\nstate=\"open\";\n\n}\ncontext.set(\"state\",state);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"state\", \"closed\");",
        "finalize": "",
        "libs": [],
        "x": 360,
        "y": 180,
        "wires": [
            [
                "3c3032d473f91ea7",
                "19c6292a0444afc8",
                "9d3beeb2a4291a1c",
                "dcb2b9c70757a279"
            ]
        ]
    },
    {
        "id": "9473d8782e88e396",
        "type": "inject",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "init",
        "payload": "close",
        "payloadType": "str",
        "x": 190,
        "y": 140,
        "wires": [
            [
                "164eef2581c8b6f1"
            ]
        ]
    },
    {
        "id": "53cfd32f3674044f",
        "type": "inject",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 200,
        "y": 80,
        "wires": [
            [
                "3c3032d473f91ea7"
            ]
        ]
    },
    {
        "id": "3c3032d473f91ea7",
        "type": "gate",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 370,
        "y": 80,
        "wires": [
            [
                "e98f81e6de2dda81"
            ]
        ]
    },
    {
        "id": "e98f81e6de2dda81",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 520,
        "y": 80,
        "wires": []
    },
    {
        "id": "9d3beeb2a4291a1c",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "2ca7adfc8b5eca4d",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 240,
        "wires": []
    },
    {
        "id": "27ca0097a6287377",
        "type": "change",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "label",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 390,
        "y": 640,
        "wires": [
            [
                "57973ede8fb2fc05"
            ]
        ]
    },
    {
        "id": "c422d55a023dc59c",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "debug 61",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 560,
        "y": 580,
        "wires": []
    },
    {
        "id": "1e3a8cf10cd40b16",
        "type": "function",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "button logic",
        "func": "\nlet payload=msg.payload;\nlet state=context.get(\"state\");\nif(msg.topic==\"init\")\n{\n    state = \"open\";\n    msg.payload = \"close\";\n    msg.background = \"red\";\n    msg.label = \"Press to Power-On\";\n    msg.myicon = \"fa-toggle-off\";\n    msg.topic=\"control\";\n    context.set(\"state\", \"closed\");\n    return msg;\n}\n//toggle\nif (typeof state == \"undefined\" || state==\"open\")\n{\n//state=\"open\";\nmsg.payload= \"close\";\nmsg.background = \"red\";\nmsg.label = \"Press to Power-On\";\nmsg.myicon = \"fa-toggle-off\";\nstate=\"closed\";\n\n}\nelse if (typeof state == \"undefined\" || state == \"closed\") {\n//state = \"close\";\nmsg.payload= \"open\";\nmsg.background = \"green\";\nmsg.label = \"Press to Power-Off\";\nmsg.myicon=\"fa-toggle-on\";\nstate=\"open\";\n\n}\ncontext.set(\"state\",state);\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "// Code added here will be run once\n// whenever the node is started.\ncontext.set(\"state\", \"closed\");",
        "finalize": "",
        "libs": [],
        "x": 380,
        "y": 540,
        "wires": [
            [
                "d35fafdc2f0cadff",
                "27ca0097a6287377",
                "c422d55a023dc59c",
                "e7ee71c0fc8ed166"
            ]
        ]
    },
    {
        "id": "955a8942505cb4b2",
        "type": "debug",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "debug 60",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 530,
        "y": 440,
        "wires": []
    },
    {
        "id": "d35fafdc2f0cadff",
        "type": "gate",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "",
        "controlTopic": "control",
        "defaultState": "closed",
        "openCmd": "open",
        "closeCmd": "close",
        "toggleCmd": "toggle",
        "defaultCmd": "default",
        "statusCmd": "status",
        "persist": false,
        "storeName": "memoryOnly",
        "x": 370,
        "y": 440,
        "wires": [
            [
                "955a8942505cb4b2"
            ]
        ]
    },
    {
        "id": "ec7fe19d288fdf2b",
        "type": "inject",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 210,
        "y": 440,
        "wires": [
            [
                "d35fafdc2f0cadff"
            ]
        ]
    },
    {
        "id": "278bdd3813145e0c",
        "type": "inject",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "init",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": true,
        "onceDelay": "2",
        "topic": "init",
        "payload": "close",
        "payloadType": "str",
        "x": 190,
        "y": 500,
        "wires": [
            [
                "1e3a8cf10cd40b16"
            ]
        ]
    },
    {
        "id": "57973ede8fb2fc05",
        "type": "ui_button",
        "z": "8eef662251c0531b",
        "g": "d0bf0eea5447bb29",
        "name": "Flex 6300 Power",
        "group": "bc2d850f3f12f4ca",
        "order": 2,
        "width": 4,
        "height": 1,
        "passthru": false,
        "label": "{{topic}}",
        "tooltip": "Toggles Flex 6300 Power on/off",
        "color": "",
        "bgcolor": "{{background}}",
        "className": "",
        "icon": "{{myicon}}",
        "payload": "open",
        "payloadType": "str",
        "topic": "control",
        "topicType": "str",
        "x": 180,
        "y": 560,
        "wires": [
            [
                "1e3a8cf10cd40b16"
            ]
        ]
    },
    {
        "id": "9e189c149f50fb46",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "1ddeecdd5e6a952b",
        "order": 2,
        "width": 1,
        "height": 1
    },
    {
        "id": "d21f44da6295134c",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "6353d2ec29a336a7",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "aadfc7c27cf472dc",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "6353d2ec29a336a7",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "46dd9b4788d7cdef",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "6353d2ec29a336a7",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "fb39d95f7f75aa32",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "6353d2ec29a336a7",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "5a004ae3ba5de829",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "6353d2ec29a336a7",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "5db5a75ef82fe69b",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "5d924446bb02d82a",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "94027f9dd71be357",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "36c3ecf939291497",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "68f0178cf1496774",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "4ca60cae40ffb4a3",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 12,
        "width": 1,
        "height": 1
    },
    {
        "id": "c0e208a3809a6efb",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 15,
        "width": 1,
        "height": 1
    },
    {
        "id": "2dccc84093270c87",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "a02422b3347eaeb9",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "19e6b68e9cd8b9f0",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 20,
        "width": 5,
        "height": 1
    },
    {
        "id": "8834998cc0204d29",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "25a864c43422189b",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 22,
        "width": 5,
        "height": 1
    },
    {
        "id": "54f193fb60ad7245",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 26,
        "width": 3,
        "height": 1
    },
    {
        "id": "4dfb53641744a554",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 27,
        "width": 5,
        "height": 1
    },
    {
        "id": "4b3f984095429e7c",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "3db16ff2d329e118",
        "order": 28,
        "width": 5,
        "height": 1
    },
    {
        "id": "ae1fecca4a543f7c",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "22d1b095aa1d1cf0",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "eb2c65563ae05d2d",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "fb95043c8a6d6f28",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "783a234bca7b026d",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 11,
        "width": 5,
        "height": 1
    },
    {
        "id": "957c9de48eaa1b58",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 15,
        "width": 5,
        "height": 1
    },
    {
        "id": "5d351d17a43c994c",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "3c77ad7817ecbd79",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 17,
        "width": 5,
        "height": 1
    },
    {
        "id": "1ee664d5af2cbdfd",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 20,
        "width": 5,
        "height": 1
    },
    {
        "id": "923220cba9dad9b3",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 21,
        "width": 5,
        "height": 1
    },
    {
        "id": "ef19d52bbead930d",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 22,
        "width": 5,
        "height": 1
    },
    {
        "id": "eb2c68d52a5dce39",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 23,
        "width": 5,
        "height": 1
    },
    {
        "id": "690ae6f5423a7a27",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 27,
        "width": 6,
        "height": 1
    },
    {
        "id": "4b442822c1e17d64",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "7825e703afb2c79d",
        "order": 28,
        "width": 6,
        "height": 1
    },
    {
        "id": "2b62ebadbf1e7255",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 4,
        "width": 5,
        "height": 1
    },
    {
        "id": "a7c949781ed44e09",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 7,
        "width": 5,
        "height": 1
    },
    {
        "id": "7b69ac35657098a6",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 8,
        "width": 5,
        "height": 1
    },
    {
        "id": "047fa7b78a81aac3",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 9,
        "width": 5,
        "height": 1
    },
    {
        "id": "a7209556dde75bfa",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 10,
        "width": 5,
        "height": 1
    },
    {
        "id": "8fde1992a981bd64",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 14,
        "width": 5,
        "height": 1
    },
    {
        "id": "069787e92cba2c73",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 15,
        "width": 5,
        "height": 1
    },
    {
        "id": "53d05599aa5c7466",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 16,
        "width": 5,
        "height": 1
    },
    {
        "id": "4346ead6476bb5f4",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 20,
        "width": 6,
        "height": 1
    },
    {
        "id": "ba752708a9ed62eb",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 21,
        "width": 6,
        "height": 1
    },
    {
        "id": "c64ecf59b638d718",
        "type": "ui_spacer",
        "z": "8eef662251c0531b",
        "name": "spacer",
        "group": "f569d1fe718ea608",
        "order": 22,
        "width": 6,
        "height": 1
    },
    {
        "id": "1b3ea183cb956faa",
        "type": "ui_group",
        "name": "Flex 8600 Power Control",
        "tab": "2f150eb340621efc",
        "order": 3,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "bc2d850f3f12f4ca",
        "type": "ui_group",
        "name": "Flex 6300 Power Control",
        "tab": "2f150eb340621efc",
        "order": 4,
        "disp": true,
        "width": 8,
        "collapse": false,
        "className": ""
    },
    {
        "id": "1ddeecdd5e6a952b",
        "type": "ui_group",
        "name": "Temperature Summary",
        "tab": "d08e06b5cdc29e38",
        "order": 1,
        "disp": true,
        "width": 14,
        "collapse": false,
        "className": ""
    },
    {
        "id": "6353d2ec29a336a7",
        "type": "ui_group",
        "name": "St. Charles Weather",
        "tab": "d08e06b5cdc29e38",
        "order": 2,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "3db16ff2d329e118",
        "type": "ui_group",
        "name": "Back Yard Conditions",
        "tab": "d08e06b5cdc29e38",
        "order": 3,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "7825e703afb2c79d",
        "type": "ui_group",
        "name": "Garage Conditions",
        "tab": "d08e06b5cdc29e38",
        "order": 4,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "f569d1fe718ea608",
        "type": "ui_group",
        "name": "Basement Office",
        "tab": "d08e06b5cdc29e38",
        "order": 5,
        "disp": true,
        "width": "14",
        "collapse": true,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "order": 2,
        "disabled": false,
        "hidden": false
    },
    {
        "id": "d08e06b5cdc29e38",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]
