flows/ham/switchstatus.json
[
    {
        "id": "77743ea34f0de5c7",
        "type": "tab",
        "label": "Switch Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f2aa3d204e5bbd2",
        "type": "inject",
        "z": "77743ea34f0de5c7",
        "name": "",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-d",
        "payloadType": "str",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "53251a4978276072"
            ]
        ]
    },
    {
        "id": "53251a4978276072",
        "type": "exec",
        "z": "77743ea34f0de5c7",
        "command": "/home/pi/Projects/node-red/cli/switchstatus",
        "addpay": "payload",
        "append": "-d",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "switchstatus",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "bb1a49e11709f554",
                "40a20ec5a2655a2d",
                "c05e1f7edf08e4c0",
                "5ca36fabb0917a87"
            ],
            [],
            []
        ]
    },
    {
        "id": "bb1a49e11709f554",
        "type": "switch",
        "z": "77743ea34f0de5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "HF Antenna Connect: 1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 140,
        "wires": [
            [
                "e401a9d1595dd9ac"
            ],
            [
                "da514395acaca8ee"
            ]
        ]
    },
    {
        "id": "40a20ec5a2655a2d",
        "type": "debug",
        "z": "77743ea34f0de5c7",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 320,
        "y": 80,
        "wires": []
    },
    {
        "id": "e401a9d1595dd9ac",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 120,
        "wires": [
            [
                "741121889fd20c9b"
            ]
        ]
    },
    {
        "id": "da514395acaca8ee",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 160,
        "wires": [
            [
                "741121889fd20c9b"
            ]
        ]
    },
    {
        "id": "461b571065f331b6",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 260,
        "wires": [
            [
                "594bea19b50ec658",
                "1f9bb4310d077136"
            ]
        ]
    },
    {
        "id": "758770accf2ab6a5",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "c2d8f6d6a0911e25"
            ]
        ]
    },
    {
        "id": "dc8c2d15fd7fe796",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "c2d8f6d6a0911e25"
            ]
        ]
    },
    {
        "id": "213f322b48a839a4",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 220,
        "wires": [
            [
                "594bea19b50ec658",
                "1f9bb4310d077136"
            ]
        ]
    },
    {
        "id": "c05e1f7edf08e4c0",
        "type": "switch",
        "z": "77743ea34f0de5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "6M Dipole Select:   1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 240,
        "wires": [
            [
                "213f322b48a839a4"
            ],
            [
                "461b571065f331b6"
            ]
        ]
    },
    {
        "id": "5ca36fabb0917a87",
        "type": "switch",
        "z": "77743ea34f0de5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Flex 6600 Power:    1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "dc8c2d15fd7fe796"
            ],
            [
                "758770accf2ab6a5"
            ]
        ]
    },
    {
        "id": "594bea19b50ec658",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 3,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "6M Dipole Selected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "6M Dipole Selected",
        "x": 870,
        "y": 240,
        "wires": []
    },
    {
        "id": "1f9bb4310d077136",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 2,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "HF Vertical Selected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "true",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "false",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "HF Vertical Selected",
        "x": 880,
        "y": 280,
        "wires": []
    },
    {
        "id": "c2d8f6d6a0911e25",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 2,
        "group": "7c7defaf3327e409",
        "width": 0,
        "height": 0,
        "label": "Flex 6600 Online",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Flex 6600 Selected",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "741121889fd20c9b",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 1,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "HF Antenna Connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "HF Antenna Connected",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "0a1b079bf75f647a",
        "type": "ui_group",
        "name": "Antenna Switch Status",
        "tab": "2f150eb340621efc",
        "order": 5,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "7c7defaf3327e409",
        "type": "ui_group",
        "name": "Rig Power Control",
        "tab": "2f150eb340621efc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
