flows/ham/switchstatus.json
[
    {
        "id": "77743ea34f0de5c7",
        "type": "tab",
        "label": "Switch Status",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5f2aa3d204e5bbd2",
        "type": "inject",
        "z": "77743ea34f0de5c7",
        "name": "Run",
        "props": [
            {
                "p": "payload"
            }
        ],
        "repeat": "2",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "-d",
        "payloadType": "str",
        "x": 90,
        "y": 240,
        "wires": [
            [
                "53251a4978276072"
            ]
        ]
    },
    {
        "id": "53251a4978276072",
        "type": "exec",
        "z": "77743ea34f0de5c7",
        "command": "/home/pi/Projects/node-red/cli/switchstatus",
        "addpay": "payload",
        "append": "-d",
        "useSpawn": "false",
        "timer": "",
        "winHide": false,
        "oldrc": false,
        "name": "switchstatus",
        "x": 250,
        "y": 240,
        "wires": [
            [
                "5ca36fabb0917a87",
                "40a20ec5a2655a2d",
                "17790841e75ba594",
                "1c75ae3ee399a7cb"
            ],
            [],
            []
        ]
    },
    {
        "id": "40a20ec5a2655a2d",
        "type": "debug",
        "z": "77743ea34f0de5c7",
        "name": "debug 9",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 460,
        "y": 160,
        "wires": []
    },
    {
        "id": "758770accf2ab6a5",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 360,
        "wires": [
            [
                "c2d8f6d6a0911e25"
            ]
        ]
    },
    {
        "id": "dc8c2d15fd7fe796",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 600,
        "y": 320,
        "wires": [
            [
                "c2d8f6d6a0911e25"
            ]
        ]
    },
    {
        "id": "5ca36fabb0917a87",
        "type": "switch",
        "z": "77743ea34f0de5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Flex 6600 Power:    1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 430,
        "y": 340,
        "wires": [
            [
                "dc8c2d15fd7fe796"
            ],
            [
                "758770accf2ab6a5"
            ]
        ]
    },
    {
        "id": "c2d8f6d6a0911e25",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 2,
        "group": "7c7defaf3327e409",
        "width": 0,
        "height": 0,
        "label": "Flex 6600 Power",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Flex 6600 Selected",
        "x": 870,
        "y": 340,
        "wires": []
    },
    {
        "id": "741121889fd20c9b",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 2,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "HF Antenna Connected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "HF Antenna Connected",
        "x": 890,
        "y": 140,
        "wires": []
    },
    {
        "id": "aa18075d2a591236",
        "type": "debug",
        "z": "77743ea34f0de5c7",
        "name": "debug 10",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 840,
        "y": 80,
        "wires": []
    },
    {
        "id": "17790841e75ba594",
        "type": "function",
        "z": "77743ea34f0de5c7",
        "name": "SelectedAntennaStatus",
        "func": "var msgText = msg.payload;\n\nif (msgText.includes(\"HF Antenna Connect: 1\")) {\n    if (msgText.includes(\"6M Dipole Select:   1\")) {\n        msg.payload = 2;\n    } else {\n        msg.payload = 1;\n    }\n} else {\n    msg.payload = 0;\n}\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 510,
        "y": 220,
        "wires": [
            [
                "aa18075d2a591236",
                "bc44abebd1113613",
                "f10b34e5869adf5f",
                "741121889fd20c9b"
            ]
        ],
        "info": "INPUT: Status string from python script switchstatus.\n\nOUTPUT:\n    0 - HF Antenna disconnected.\n    1 - HF antenna connected, HF vertical selected.\n    2 - HF antenna connected, 6M dipole selected.\n\nExpects to be passed in the status output string from \nthe python script switchstatus. The string is parsed to\ndetermine:\n   1. Is the HF antenna connected? \n   2. If HF antenna is not connected, pass along value\n    of 0 (zero).\n   3. If HF antenna is connected, is the 6M dipole also\n      connected? If not, pass along value of 1. If the 6M\n      dipole is also connected, pass along value of 2.   "
    },
    {
        "id": "bc44abebd1113613",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 4,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "6M Dipole Selected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "6M Dipole Selected",
        "x": 870,
        "y": 180,
        "wires": []
    },
    {
        "id": "f10b34e5869adf5f",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 3,
        "group": "0a1b079bf75f647a",
        "width": 0,
        "height": 0,
        "label": "HF Vertical Selected",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#008000",
                "value": "1",
                "valueType": "num"
            },
            {
                "color": "#808080",
                "value": "2",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "HF Vertical Selected",
        "x": 880,
        "y": 220,
        "wires": []
    },
    {
        "id": "1c75ae3ee399a7cb",
        "type": "switch",
        "z": "77743ea34f0de5c7",
        "name": "",
        "property": "payload",
        "propertyType": "msg",
        "rules": [
            {
                "t": "cont",
                "v": "Flex 6300 Power:    1",
                "vt": "str"
            },
            {
                "t": "else"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 2,
        "x": 390,
        "y": 480,
        "wires": [
            [
                "2e327e6dd0dac646"
            ],
            [
                "b94880794027acc2"
            ]
        ]
    },
    {
        "id": "2e327e6dd0dac646",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 460,
        "wires": [
            [
                "e26f2d6ff67d5e9b"
            ]
        ]
    },
    {
        "id": "b94880794027acc2",
        "type": "change",
        "z": "77743ea34f0de5c7",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 630,
        "y": 500,
        "wires": [
            [
                "e26f2d6ff67d5e9b"
            ]
        ]
    },
    {
        "id": "e26f2d6ff67d5e9b",
        "type": "ui_led",
        "z": "77743ea34f0de5c7",
        "order": 4,
        "group": "7c7defaf3327e409",
        "width": 0,
        "height": 0,
        "label": "Flex 6300 Power",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "false",
                "valueType": "bool"
            },
            {
                "color": "#008000",
                "value": "true",
                "valueType": "bool"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "square",
        "showGlow": true,
        "name": "Flex 6300 Selected",
        "x": 910,
        "y": 480,
        "wires": []
    },
    {
        "id": "7c7defaf3327e409",
        "type": "ui_group",
        "name": "Rig Power Control",
        "tab": "2f150eb340621efc",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "0a1b079bf75f647a",
        "type": "ui_group",
        "name": "Antenna Switch Status",
        "tab": "2f150eb340621efc",
        "order": 6,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "2f150eb340621efc",
        "type": "ui_tab",
        "name": "HamShack",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]
